/* Navigation */
.top-bar, .top-bar ul {
    background-color: black; }

.top-bar ul li a{
    color: #888; }
    
.top-bar ul li a:hover {
    text-decoration: underline; }

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #888;}
.js-drilldown-back::before {
    border-color: transparent #888 transparent transparent; }
/* Mainbar */
.mainbar {
    padding: 1rem 5rem;
}
/* Generic */
.columns table tbody td {
    overflow: scroll; }
/* Sidebar */
.sidebar {
    background-color: black;
    padding: 1rem 0 1rem 0.9375rem;
    height: 100%;
    z-index: 0;
    position: absolute !important; }
.sidebar .title {
    color: #eee; }
.sidebar .menu a {
    color: #888; }
.sidebar  .menu a:hover {
    background-color: gray;
    color: #333; }
.is-drilldown-submenu {
    background-color: black; }
    
/* Form */
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="tel"], [type="time"], [type="url"], [type="color"], [type="number"], [type="search"], textarea {
    margin-bottom: 0px; }

.form-group {
    margin-bottom: 1rem; }