.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

#series-example-1, #series-example-2, #series-example-3 {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .is-animating #series-example-1, .is-animating #series-example-2, .is-animating #series-example-3 {
    -webkit-animation-play-state: running;
            animation-play-state: running; }

hr {
  border-right: 0;
  border-left: 0; }

@media screen and (min-width: 40em) {
  .medium-text-left {
    text-align: left; }
  .medium-text-right {
    text-align: right; }
  .medium-text-center {
    text-align: center; }
}

@media screen and (min-width: 64em) {
  .large-text-left {
    text-align: left; }
  .large-text-right {
    text-align: right; }
  .large-text-center {
    text-align: center; }
}

[data-whatinput='mouse'] .dropdown.menu a {
  outline: 0; }

.no-js .dropdown.menu ul {
  display: none; }

@media screen and (min-width: 40em) {
  .position-left.reveal-for-medium {
    z-index: auto;
    position: fixed; }

    .position-left.reveal-for-medium ~ .off-canvas-content {
      margin-left: 250px; }
  .position-right.reveal-for-medium {
    z-index: auto;
    position: fixed; }

    .position-right.reveal-for-medium ~ .off-canvas-content {
      margin-right: 250px; } }

@media screen and (min-width: 64em) {
  .position-left.reveal-for-large {
    z-index: auto;
    position: fixed; }

    .position-left.reveal-for-large ~ .off-canvas-content {
      margin-left: 250px; }
  .position-right.reveal-for-large {
    z-index: auto;
    position: fixed; }

    .position-right.reveal-for-large ~ .off-canvas-content {
      margin-right: 250px; } }

.pagination-previous a::before,
.pagination-previous.disabled::before {
  content: '«';
  display: inline-block;
  margin-right: 0.5rem; }

.pagination-next a::after,
.pagination-next.disabled::after {
  content: '»';
  display: inline-block;
  margin-left: 0.5rem; }

.slide-in-down.mui-enter {
      -ms-transform: translateY(-100%); }

.slide-in-down.mui-enter.mui-enter-active {
      -ms-transform: translateY(0); }

.slide-in-left.mui-enter {
      -ms-transform: translateX(-100%); }

.slide-in-left.mui-enter.mui-enter-active {
      -ms-transform: translateX(0); }

.slide-in-up.mui-enter {
      -ms-transform: translateY(100%); }

.slide-in-up.mui-enter.mui-enter-active {
      -ms-transform: translateY(0); }

.slide-in-right.mui-enter {
      -ms-transform: translateX(100%); }

.slide-in-right.mui-enter.mui-enter-active {
      -ms-transform: translateX(0); }

.slide-out-down.mui-leave {
      -ms-transform: translateY(0); }

.slide-out-down.mui-leave.mui-leave-active {
      -ms-transform: translateY(100%); }

.slide-out-right.mui-leave {
      -ms-transform: translateX(0); }

.slide-out-right.mui-leave.mui-leave-active {
      -ms-transform: translateX(100%); }

.slide-out-up.mui-leave {
      -ms-transform: translateY(0); }

.slide-out-up.mui-leave.mui-leave-active {
      -ms-transform: translateY(-100%); }

.slide-out-left.mui-leave {
      -ms-transform: translateX(0); }

.slide-out-left.mui-leave.mui-leave-active {
      -ms-transform: translateX(-100%); }
      
.hinge-in-from-top.mui-enter {
      -ms-transform-origin: top; }

.hinge-in-from-right.mui-enter {
      -ms-transform-origin: right; }

.hinge-in-from-bottom.mui-enter {
      -ms-transform-origin: bottom; }
      
.hinge-in-from-left.mui-enter {
      -ms-transform-origin: left; }
      
.hinge-in-from-middle-x.mui-enter {
      -ms-transform-origin: center; }

.hinge-in-from-middle-y.mui-enter {
      -ms-transform-origin: center; }

.hinge-out-from-top.mui-leave {
      -ms-transform-origin: top; }

.hinge-out-from-right.mui-leave {
      -ms-transform-origin: right; }

.hinge-out-from-bottom.mui-leave {
      -ms-transform-origin: bottom; }
      
.hinge-out-from-left.mui-leave {
      -ms-transform-origin: left; }
      
.hinge-out-from-middle-x.mui-leave {
      -ms-transform-origin: center; }

.hinge-out-from-middle-y.mui-leave {
      -ms-transform-origin: center; } 

.scale-in-up.mui-enter {
      -ms-transform: scale(0.5); }

.scale-in-up.mui-enter.mui-enter-active {
      -ms-transform: scale(1); }

.scale-in-down.mui-enter {
      -ms-transform: scale(1.5); }

.scale-in-down.mui-enter.mui-enter-active {
      -ms-transform: scale(1); }

.scale-out-up.mui-leave {
      -ms-transform: scale(1); }

.scale-out-up.mui-leave.mui-leave-active {
      -ms-transform: scale(1.5); }

.scale-out-down.mui-leave {
      -ms-transform: scale(1); }

.scale-out-down.mui-leave.mui-leave-active {
      -ms-transform: scale(0.5); }

.spin-in.mui-enter {
      -ms-transform: rotate(-0.75turn); }

.spin-in.mui-enter.mui-enter-active {
      -ms-transform: rotate(0); }

.spin-out.mui-leave {
      -ms-transform: rotate(0); }

.spin-out.mui-leave.mui-leave-active {
      -ms-transform: rotate(0.75turn); }

.spin-in-ccw.mui-enter {
      -ms-transform: rotate(0.75turn); }

.spin-in-ccw.mui-enter.mui-enter-active {
      -ms-transform: rotate(0); }

.spin-out-ccw.mui-leave {
      -ms-transform: rotate(0); }

.spin-out-ccw.mui-leave.mui-leave-active {
      -ms-transform: rotate(-0.75turn); }

.docs-header,
.docs-site-title,
.docs-page-title,
.docs-page-lead,
.docs-heading,
.docs-menu,
.docs-sub-menu,
.docs-big-index strong,
.docs-small-index h4,
.twitter-typeahead {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a > code {
  background: transparent;
  border: 0;
  padding: 0;
  color: #2199e8; }

.docs-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: none; }

.docs-site-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  margin-right: 1rem; }
  .docs-site-title a {
    color: #0a0a0a; }
    .docs-site-title a:hover {
      color: #2199e8; }
  .docs-site-title em {
    font-style: normal;
    font-weight: normal;
    color: #8a8a8a; }

.docs-header-link {
  position: relative;
  color: #fefefe;
  font-weight: bold;
  padding-right: 16px;
  font-size: 0.75rem;
  display: block;
  margin-top: 0.5rem; }
  .docs-header-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: #fefefe transparent transparent;
    border-top-style: solid;
    position: absolute;
    top: 3px;
    right: 0; }
  .docs-header-link:hover {
    opacity: 0.75; }
  @media screen and (min-width: 40em) {
    .docs-header-link {
      font-size: 1rem;
      float: right;
      margin-top: 4px; }
      .docs-header-link::after {
        top: 6px; } }

.docs-versions-menu {
  background: #fff;
  width: 200px;
  box-shadow: 0 2px 10px rgba(10, 10, 10, 0.25);
  position: absolute;
  top: 5.3rem;
  right: 0;
  z-index: 1; }

.zurb-footer-top {
  padding: 40px 0;
  color: white; }
  .zurb-footer-top .row .columns::before, .zurb-footer-top .row .columns::after {
    content: ' ';
    display: table; }
  .zurb-footer-top .row .columns::after {
    clear: both; }
  .zurb-footer-top.zurb {
    background-position: 10px 7px; }
  .zurb-footer-top .property {
    text-align: center; }
    .zurb-footer-top .property .property-info {
      padding-top: 37px; }
    .zurb-footer-top .property h2 {
      margin: 0;
      padding: 0 !important; }
      .zurb-footer-top .property h2 a {
        transition: all .25s ease-in-out;
        font-family: 'zurb-logo';
        font-weight: normal;
        font-size: em-calc(18px);
        padding: 0; }
        .zurb-footer-top .property h2 a:hover {
          opacity: 0.8; }
        .zurb-footer-top .property h2 a.services {
          width: 190px; }
        .zurb-footer-top .property h2 a span {
          display: none; }
        .zurb-footer-top .property h2 a strong {
          font-size: 17px;
          margin-left: -7px; }
    .zurb-footer-top .property h3 {
      font-size: 1.4rem;
      font-weight: bold;
      color: white;
      margin-bottom: 20px; }
    .zurb-footer-top .property h4 {
      font-size: 1.1rem;
      font-weight: 200;
      color: white;
      margin-bottom: 10px;
      text-transform: none; }
    .zurb-footer-top .property p, .zurb-footer-top .property li, .zurb-footer-top .property a {
      font-size: 13px;
      line-height: 21px;
      color: white; }
    .zurb-footer-top .property a {
      font-weight: bold;
      color: white; }
  .zurb-footer-top .learn-links,
  .zurb-footer-top .support-links,
  .zurb-footer-top .connect-links {
    padding: 50px 0 0 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background: url("../img/icons/footer-top-icons.png") no-repeat center 0;
    height: 220px;
    margin-bottom: 30px; }
    .zurb-footer-top .learn-links ul,
    .zurb-footer-top .support-links ul,
    .zurb-footer-top .connect-links ul {
      margin-left: 0px !important;
      list-style: none; }
    .zurb-footer-top .learn-links li,
    .zurb-footer-top .support-links li,
    .zurb-footer-top .connect-links li {
      line-height: 20px; }
  .zurb-footer-top .learn-links {
    background-position: center -325px; }
  .zurb-footer-top .support-links {
    background-position: center -635px; }
  .zurb-footer-top .connect-links {
    padding: 50px 20px 0;
    background-position: center -9px; }
    .zurb-footer-top .connect-links .button {
      font-size: 12px;
      font-weight: normal;
      background: rgba(0, 0, 0, 0.1);
      color: #FFF !important;
      font-weight: bold;
      text-shadow: none;
      box-shadow: none;
      border: none;
      padding: 6px 16px; }
  .zurb-footer-top .global {
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .zurb-footer-top .global .footer-link-block {
      font-weight: normal;
      display: block;
      margin: 30px 0 0 0; }
      .zurb-footer-top .global .footer-link-block.services {
        background: url("../img/icons/footer-studios.png") left top no-repeat; }
      .zurb-footer-top .global .footer-link-block.foundation {
        background: url("../img/icons/footer-foundation.png") left top no-repeat; }
      .zurb-footer-top .global .footer-link-block.apps {
        background: url("../img/icons/footer-products.png") left top no-repeat; }
      .zurb-footer-top .global .footer-link-block.expo {
        background: url("../img/icons/footer-expo.png") left top no-repeat; }
      .zurb-footer-top .global .footer-link-block span {
        display: block;
        color: white;
        font-size: 0.75rem;
        padding-left: 40px;
        line-height: 18px; }
        .zurb-footer-top .global .footer-link-block span.title {
          font-size: 1.0rem;
          margin-bottom: 5px; }

.zurb-footer-bottom {
  background: #333;
  padding: 24px 0 10px; }
  .zurb-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
  .zurb-footer-bottom .zurb-logo {
    color: #858585;
    font-weight: normal;
    background: url("../img/icons/footer-icons.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px; }
    .zurb-footer-bottom .zurb-logo:hover {
      opacity: 0.8; }
  .zurb-footer-bottom .zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px; }
    .zurb-footer-bottom .zurb-links li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem; }
    .zurb-footer-bottom .zurb-links a {
      color: #666;
      padding: 3px 6px; }
      .zurb-footer-bottom .zurb-links a:hover {
        color: #777; }
  .zurb-footer-bottom .copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666; }
  .zurb-footer-bottom .home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
    .zurb-footer-bottom .home-social li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px; }
      .zurb-footer-bottom .home-social li:first-child {
        margin-left: 0; }
    .zurb-footer-bottom .home-social a {
      display: block;
      height: 50px;
      width: 50px;
      background: url("../img/icons/social.png") no-repeat center 0; }
      .zurb-footer-bottom .home-social a:hover {
        opacity: 0.8; }
      .zurb-footer-bottom .home-social a.twitter {
        background-position: center 0; }
      .zurb-footer-bottom .home-social a.facebook {
        background-position: center -200px; }
      .zurb-footer-bottom .home-social a.mail {
        background-position: center -400px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .zurb-footer-top .property {
    padding-top: 0px; }
    .zurb-footer-top .property .learn-links,
    .zurb-footer-top .property .support-links,
    .zurb-footer-top .property .connect-links {
      height: 240px;
      padding: 50px 10px 0; } }

@media only screen and (max-width: 767px) {
  .zurb-footer-top .property .property-info {
    padding-top: 0px; }
  .zurb-footer-top .property .learn-links,
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    border: none;
    height: auto;
    padding: 80px 20px 0;
    margin: 4px 0 0 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.2); }
    .zurb-footer-top .property .learn-links li a,
    .zurb-footer-top .property .support-links li a,
    .zurb-footer-top .property .connect-links li a {
      font-size: 15px;
      line-height: 2; }
    .zurb-footer-top .property .learn-links p, .zurb-footer-top .property .learn-links a,
    .zurb-footer-top .property .support-links p,
    .zurb-footer-top .property .support-links a,
    .zurb-footer-top .property .connect-links p,
    .zurb-footer-top .property .connect-links a {
      font-size: 16px; }
  .zurb-footer-top .property .learn-links {
    background-position: center -300px;
    padding-top: 76px 20px 0; }
  .zurb-footer-top .property .support-links {
    padding: 76px 20px 0;
    background-position: center -618px; }
  .zurb-footer-top .property .connect-links {
    padding: 76px 20px 14px;
    background-position: center 10px; }
  .zurb-footer-top .global {
    border: none; }
  .zurb-footer-top .footer-link-block.services {
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    padding-top: 40px;
    margin-top: 0;
    background-position: center 10px !important; }
  .zurb-footer-top .footer-link-block span {
    font-size: em-calc(11px);
    line-height: 16px; }
  .zurb-footer-bottom {
    text-align: center; }
    .zurb-footer-bottom .columns {
      padding: 0; }
    .zurb-footer-bottom .zurb-logo {
      display: block;
      margin: 0 auto; }
    .zurb-footer-bottom .zurb-links {
      margin: 16px 0 10px; }
    .zurb-footer-bottom .home-social {
      float: none;
      margin: 0 0 20px 0;
      text-align: center;
      height: 44px;
      display: inline-block; } }

@media only screen and (max-width: 767px) {
  .zurb-footer-top .property .connect-links {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin-bottom: 20px; }
  .zurb-footer-top .global .footer-link-block {
    padding-top: 50px;
    text-align: center;
    margin: 0 !important;
    clear: both; }
    .zurb-footer-top .global .footer-link-block span {
      padding-left: 0px; }
    .zurb-footer-top .global .footer-link-block.services {
      border-top: 0;
      background-position: center 15px !important; }
    .zurb-footer-top .global .footer-link-block.foundation {
      background-position: center 15px !important; }
    .zurb-footer-top .global .footer-link-block.apps {
      padding-top: 80px;
      background-position: center 45px !important; }
    .zurb-footer-top .global .footer-link-block.expo {
      padding-top: 80px;
      background-position: center 45px !important; }
  .zurb-footer-top .property .learn-links {
    background: none;
    border: none;
    padding-top: 0;
    margin: 0; } }

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .zurb-footer-top .info-padding {
    background-image: url("../img/icons/footer-large-icon-retina.png");
    background-size: 100px 400px; }
  .zurb-footer-bottom ul.home-social li a {
    background-image: url("../img/icons/social-retina.png");
    background-size: 50px 600px; }
  .zurb-footer-top .global .footer-link-block {
    font-weight: normal;
    display: block;
    margin: 30px 0 0 0; }
    .zurb-footer-top .global .footer-link-block.services {
      background: url("../img/icons/footer-studios-retina.png") left top no-repeat; }
    .zurb-footer-top .global .footer-link-block.foundation {
      background-image: url("../img/icons/footer-foundation-retina.png") left top no-repeat; }
    .zurb-footer-top .global .footer-link-block.apps {
      background-image: url("../img/icons/footer-products-retina.png") left top no-repeat; }
    .zurb-footer-top .global .footer-link-block.expo {
      background-image: url("../img/icons/footer-expo-retina.png") left top no-repeat; }
  .zurb-footer-bottom a.zurb-logo {
    background-image: url("../img/icons/footer-icons-retina.png");
    background-size: 100px 1400px; }
  .zurb-footer-top .property .learn-links,
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    background-image: url("../img/icons/footer-top-icons-retina.png");
    background-size: 100px 1400px; } }

@media only screen and (max-width: 320px), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .zurb-footer-top .info-padding {
    background-image: url("../img/icons/footer-large-icon-retina.png");
    background-size: 100px 400px; }
  .zurb-footer-bottom ul.home-social li a {
    background-image: url("../img/icons/social-retina.png");
    background-size: 50px 600px; }
  .zurb-footer-top .global .footer-link-block {
    font-weight: normal;
    display: block;
    margin: 30px 0 0 0; }
    .zurb-footer-top .global .footer-link-block.services {
      background: url("../img/icons/footer-studios-retina.png") left top no-repeat;
      background-size: 30px; }
    .zurb-footer-top .global .footer-link-block.foundation {
      background: url("../img/icons/footer-foundation-retina.png") left top no-repeat;
      background-size: 30px; }
    .zurb-footer-top .global .footer-link-block.apps {
      background: url("../img/icons/footer-products-retina.png") left top no-repeat;
      background-size: 30px; }
    .zurb-footer-top .global .footer-link-block.expo {
      background: url("../img/icons/footer-expo-retina.png") left top no-repeat;
      background-size: 30px; }
  .zurb-footer-bottom .zurb-logo {
    background-image: url("../img/icons/footer-icons-retina.png");
    background-size: 100px 1400px; }
  .zurb-footer-top .property .support-links,
  .zurb-footer-top .property .connect-links {
    background-image: url("../img/icons/footer-top-icons-retina.png");
    background-size: 100px 1400px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .zurb-footer-top .property .learn-links {
    background: none; } }

.zurb-footer-top.bg-blue {
  background: #2DAEBF; }

.zurb-footer-top.bg-fblue {
  background: #074e68; }

.zurb-footer-top.bg-green {
  background: #B8D30B; }

.zurb-footer-top.bg-dgreen {
  background: #afc908; }

.zurb-footer-top.bg-magenta {
  background: #A9014B; }

.zurb-footer-top.bg-orange {
  background: #FF5C00; }

.zurb-footer-top.bg-lorange {
  background: #FF6908; }

.zurb-footer-top.bg-oyellow {
  background: #FC9200; }

.zurb-footer-top.bg-loyellow {
  background: #FFB515; }

.zurb-footer-top.bg-navy {
  background: #074e68; }

.docs-menu.menu {
  margin-top: 0.5rem;
  background: #fafafa;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .docs-menu.menu li small {
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60%;
    display: block;
    margin-top: 5px; }
  .docs-menu.menu a {
    font-size: .85rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .docs-menu.menu a:hover {
      background: rgba(0, 0, 0, 0.05); }
  .docs-menu.menu .current a {
    background: rgba(0, 0, 0, 0.05); }

.docs-menu-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #999;
  font-weight: bold;
  line-height: 1;
  padding-left: 0.9rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #e9e9e9;
  margin-top: 1rem;
  padding-top: 1.5rem; }

.docs-version-number {
  padding-left: 0.9rem;
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: -0.5rem;
  margin-top: -0.4rem; }

.docs-menu-ph {
  opacity: 0.5;
  pointer-events: none; }

.docs-sub-menu {
  font-size: 0.85rem;
  margin-top: 1rem; }

.docs-toc {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cacaca; }
  @media screen and (min-width: 64em) {
    .docs-toc {
      display: block !important;
      border-bottom: 0; } }
  .docs-toc .active {
    background: #2199e8;
    color: white; }
  .docs-toc .docs-sub-menu:first-child .docs-menu-title {
    margin-top: 0;
    border-top: 0;
    padding-top: 0; }

.docs-newsletter {
  padding: 20px 0;
  background: #085a78;
  padding: 10px 0 10px 0;
  margin-top: 2rem; }
  .docs-newsletter h5 {
    font-size: 20px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #fff;
    line-height: 24px; }
  .docs-newsletter p {
    clear: both;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .docs-newsletter a {
    color: #fff; }
  .docs-newsletter .row.collapse form input[type='text'] {
    font-size: 17px;
    font-weight: 200;
    color: #999;
    border: 0; }
  .docs-newsletter .row.collapse form .button {
    border: 0;
    box-shadow: none;
    background: #257696; }
  .docs-newsletter .row.collapse form .button:hover {
    background: #1b566d; }

.docs-page-title {
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle; }

.docs-component section {
  position: relative; }

.docs-component .thumbnail {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.docs-component .callout code {
  background: rgba(230, 230, 230, 0.5); }

.docs-js.has-tip {
  border-bottom: 0; }

.docs-js.label {
  background: #F0DB4F;
  color: black;
  margin-left: 10px;
  vertical-align: middle; }

.docs-mui.label {
  background: #c6538c;
  margin-left: 10px;
  vertical-align: middle; }

.docs-lib.label {
  margin-left: 10px;
  vertical-align: middle; }
  .docs-lib.label a {
    color: white; }

.docs-heading {
  position: relative; }

.docs-heading-icon {
  display: none;
  position: absolute;
  right: 100%;
  width: 2rem;
  font-size: 2rem;
  top: 0.4rem;
  margin-right: -0.1rem; }
  .docs-heading-icon::before {
    font-family: 'foundation-icons';
    content: '\f165';
    color: #999; }
  .docs-heading-icon:hover,
  .docs-heading:hover .docs-heading-icon {
    display: block; }
  h3 > .docs-heading-icon {
    font-size: 1.6rem;
    top: 0.25rem;
    margin-right: -0.3rem; }
  h4 > .docs-heading-icon {
    font-size: 1.6rem;
    top: 0.25rem;
    margin-right: -0.3rem; }

.docs-code, pre {
  position: relative; }
  .docs-code code, pre code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    background: #f9f9f9;
    margin-bottom: 1.5rem; }
  .docs-reference .docs-code code, .docs-reference pre code {
    padding: 0.75rem;
    margin-bottom: 0.75rem; }

.docs-code.kitchen-sink {
  border: 1px solid #cacaca;
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 1rem; }
  .docs-code.kitchen-sink code {
    border: 0; }

.docs-code .bash {
  border: 0;
  background: #333;
  color: white;
  border-radius: 4px;
  position: relative;
  padding-top: 2rem; }
  .docs-code .bash::before {
    content: '$ ';
    color: #ccc; }
  .docs-code .bash::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.25rem;
    background: #777;
    border-radius: 4px 4px 0 0; }

.docs-code-copy {
  position: absolute;
  top: 0;
  right: 0;
  background: #2199e8;
  color: white;
  font-size: 0.8rem;
  padding: 0.75rem 1rem;
  z-index: 1; }
  .docs-code-copy:hover, .docs-code-copy.zeroclipboard-is-hover {
    background: #1893e4; }

.docs-code-toggle {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold; }

.global-zeroclipboard-container {
  z-index: auto !important; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none; }

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080; }

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14; }

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold; }

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal; }

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal; }

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080; }

.hljs-regexp {
  color: #009926; }

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073; }

.hljs-built_in {
  color: #0086b3; }

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.diff .hljs-change {
  background: #0086b3; }

.hljs-chunk {
  color: #aaa; }

.hljs-at_rule {
  color: #333; }

.hljs-at_rule .hljs-keyword {
  color: #a71d5d;
  font-weight: normal; }

.hljs-at_rule .hljs-preprocessor {
  color: #0086b3;
  font-weight: normal; }

.scss .hljs-attribute {
  color: #008080; }

.scss .hljs-function {
  color: #008080; }

.scss .hljs-class {
  color: #795da3; }

.docs-variable-table {
  width: 100%;
  border: 0; }
  @media screen and (max-width: 63.9375em) {
    .docs-variable-table thead {
      display: none; }
    .docs-variable-table tfoot {
      display: none; }
    .docs-variable-table tr,
    .docs-variable-table th,
    .docs-variable-table td {
      display: block; }
    .docs-variable-table td {
      border-top: 0; } }
  .docs-variable-table thead {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #cacaca; }
    .docs-variable-table thead th {
      text-align: left;
      white-space: nowrap; }
  .docs-variable-table tbody {
    border: 0; }
  .docs-variable-table code {
    background: transparent;
    color: #222;
    border: 0;
    padding: 0; }
  .docs-variable-table td:first-child {
    white-space: nowrap; }
    .docs-variable-table td:first-child code {
      font-weight: bold; }
  .docs-variable-table .map {
    white-space: nowrap; }
  .docs-variable-table td > p:last-child {
    margin-bottom: 0; }
  .docs-variable-table code > span {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .docs-variable-table tbody tr:hover {
    background: transparent; }
  .docs-variable-table tbody tr:nth-of-type(even):hover {
    background: #e6e6e6; }

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
    background: #e1e1e1; }
  .row.display .columns.color-end {
    background: #d5d5d5; }

.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .row.display-end .columns {
    background: #e1e1e1;
    border-left: 1px solid #c6c6c6; }
    .row.display-end .columns.color-end {
      background: #d5d5d5; }

#docs-flex-grid .docs-code-live .row {
  max-width: 75rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto; }
  #docs-flex-grid .docs-code-live .row #docs-flex-grid .docs-code-live .row,
  .column-row #docs-flex-grid .docs-code-live .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }

#docs-flex-grid .docs-code-live .column, #docs-flex-grid .docs-code-live .columns {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

#docs-flex-grid .docs-code-live .small-1 {
  -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }

#docs-flex-grid .docs-code-live .small-2 {
  -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }

#docs-flex-grid .docs-code-live .small-3 {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

#docs-flex-grid .docs-code-live .small-4 {
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

#docs-flex-grid .docs-code-live .small-5 {
  -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }

#docs-flex-grid .docs-code-live .small-6 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

#docs-flex-grid .docs-code-live .small-7 {
  -webkit-flex: 0 0 58.33333%;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }

#docs-flex-grid .docs-code-live .small-8 {
  -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }

#docs-flex-grid .docs-code-live .small-9 {
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

#docs-flex-grid .docs-code-live .small-10 {
  -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }

#docs-flex-grid .docs-code-live .small-11 {
  -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }

#docs-flex-grid .docs-code-live .small-12 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 40em) {
  #docs-flex-grid .docs-code-live .medium-1 {
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  #docs-flex-grid .docs-code-live .medium-2 {
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  #docs-flex-grid .docs-code-live .medium-3 {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  #docs-flex-grid .docs-code-live .medium-4 {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  #docs-flex-grid .docs-code-live .medium-5 {
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  #docs-flex-grid .docs-code-live .medium-6 {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  #docs-flex-grid .docs-code-live .medium-7 {
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  #docs-flex-grid .docs-code-live .medium-8 {
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  #docs-flex-grid .docs-code-live .medium-9 {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  #docs-flex-grid .docs-code-live .medium-10 {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  #docs-flex-grid .docs-code-live .medium-11 {
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  #docs-flex-grid .docs-code-live .medium-12 {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 64em) {
  #docs-flex-grid .docs-code-live .large-1 {
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  #docs-flex-grid .docs-code-live .large-2 {
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  #docs-flex-grid .docs-code-live .large-3 {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  #docs-flex-grid .docs-code-live .large-4 {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  #docs-flex-grid .docs-code-live .large-5 {
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  #docs-flex-grid .docs-code-live .large-6 {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  #docs-flex-grid .docs-code-live .large-7 {
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  #docs-flex-grid .docs-code-live .large-8 {
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  #docs-flex-grid .docs-code-live .large-9 {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  #docs-flex-grid .docs-code-live .large-10 {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  #docs-flex-grid .docs-code-live .large-11 {
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  #docs-flex-grid .docs-code-live .large-12 {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 40em) {
  #docs-flex-grid .docs-code-live .medium-expand {
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px; } }

@media screen and (min-width: 64em) {
  #docs-flex-grid .docs-code-live .large-expand {
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px; } }

#docs-flex-grid .docs-code-live .shrink {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

#docs-flex-grid .docs-code-live .row.medium-unstack .column, #docs-flex-grid .docs-code-live .row.medium-unstack .columns {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media screen and (min-width: 40em) {
    #docs-flex-grid .docs-code-live .row.medium-unstack .column, #docs-flex-grid .docs-code-live .row.medium-unstack .columns {
      -webkit-flex: 1 1 0px;
          -ms-flex: 1 1 0px;
              flex: 1 1 0px; } }

#docs-flex-grid .docs-code-live .row.large-unstack .column, #docs-flex-grid .docs-code-live .row.large-unstack .columns {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media screen and (min-width: 64em) {
    #docs-flex-grid .docs-code-live .row.large-unstack .column, #docs-flex-grid .docs-code-live .row.large-unstack .columns {
      -webkit-flex: 1 1 0px;
          -ms-flex: 1 1 0px;
              flex: 1 1 0px; } }

#docs-flex-grid .docs-code-live .small-order-1 {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

#docs-flex-grid .docs-code-live .small-order-2 {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

#docs-flex-grid .docs-code-live .small-order-3 {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

#docs-flex-grid .docs-code-live .small-order-4 {
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

#docs-flex-grid .docs-code-live .small-order-5 {
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

#docs-flex-grid .docs-code-live .small-order-6 {
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

@media screen and (min-width: 40em) {
  #docs-flex-grid .docs-code-live .medium-order-1 {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  #docs-flex-grid .docs-code-live .medium-order-2 {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  #docs-flex-grid .docs-code-live .medium-order-3 {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  #docs-flex-grid .docs-code-live .medium-order-4 {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  #docs-flex-grid .docs-code-live .medium-order-5 {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  #docs-flex-grid .docs-code-live .medium-order-6 {
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }

@media screen and (min-width: 64em) {
  #docs-flex-grid .docs-code-live .large-order-1 {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  #docs-flex-grid .docs-code-live .large-order-2 {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  #docs-flex-grid .docs-code-live .large-order-3 {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  #docs-flex-grid .docs-code-live .large-order-4 {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  #docs-flex-grid .docs-code-live .large-order-5 {
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  #docs-flex-grid .docs-code-live .large-order-6 {
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; } }

#docs-flex-grid .docs-code-live .row.align-right {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

#docs-flex-grid .docs-code-live .row.align-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#docs-flex-grid .docs-code-live .row.align-justify {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#docs-flex-grid .docs-code-live .row.align-spaced {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

#docs-flex-grid .docs-code-live .row.align-top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

#docs-flex-grid .docs-code-live .column.align-top, #docs-flex-grid .docs-code-live .align-top.columns {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

#docs-flex-grid .docs-code-live .row.align-bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

#docs-flex-grid .docs-code-live .column.align-bottom, #docs-flex-grid .docs-code-live .align-bottom.columns {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

#docs-flex-grid .docs-code-live .row.align-middle {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#docs-flex-grid .docs-code-live .column.align-middle, #docs-flex-grid .docs-code-live .align-middle.columns {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

#docs-flex-grid .docs-code-live .row.align-stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

#docs-flex-grid .docs-code-live .column.align-stretch, #docs-flex-grid .docs-code-live .align-stretch.columns {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

#docs-flex-grid .docs-code-live .row {
  background: #f9f9f9;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem; }
  #docs-flex-grid .docs-code-live .row::before, #docs-flex-grid .docs-code-live .row::after {
    display: none; }

#docs-flex-grid .docs-code-live .column, #docs-flex-grid .docs-code-live .columns,
#docs-flex-grid .docs-code-live .columns {
  float: none;
  width: auto;
  margin-right: -1px; }
  #docs-flex-grid .docs-code-live .column:nth-child(odd), #docs-flex-grid .docs-code-live .columns:nth-child(odd),
  #docs-flex-grid .docs-code-live .columns:nth-child(odd) {
    background: #eee; }
  #docs-flex-grid .docs-code-live .column:nth-child(even), #docs-flex-grid .docs-code-live .columns:nth-child(even),
  #docs-flex-grid .docs-code-live .columns:nth-child(even) {
    background: #ddd; }

.docs-example-modal {
  display: block;
  position: static;
  width: 100%;
  max-width: none;
  margin-bottom: 1rem; }

.docs-example-burger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 16px; }
  .docs-example-burger::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 black, 0 14px 0 black; }
  .docs-example-burger:hover::after {
    background: #666;
    box-shadow: 0 7px 0 #666, 0 14px 0 #666; }

body > .off-canvas {
  padding-top: 2rem; }

.docs-transitions {
  max-width: 400px; }

.docs-transition-demo {
  border: solid 4px #fefefe;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .docs-transition-demo:hover, .docs-transition-demo:focus {
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5); }

#series-example-1 {
  -webkit-animation-name: custom-1;
          animation-name: custom-1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

@-webkit-keyframes custom-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes custom-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

#series-example-2 {
  -webkit-animation-name: custom-2;
          animation-name: custom-2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

@-webkit-keyframes custom-2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes custom-2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

#series-example-3 {
  -webkit-animation-name: custom-3;
          animation-name: custom-3;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

@-webkit-keyframes custom-3 {
  0% {
    opacity: 0;
    -webkit-transform: perspective(2000px) rotateX(90deg);
            transform: perspective(2000px) rotateX(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; }
  100% {
    opacity: 1;
    -webkit-transform: perspective(2000px) rotate(0deg);
            transform: perspective(2000px) rotate(0deg); } }

@keyframes custom-3 {
  0% {
    opacity: 0;
    -webkit-transform: perspective(2000px) rotateX(90deg);
            transform: perspective(2000px) rotateX(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; }
  100% {
    opacity: 1;
    -webkit-transform: perspective(2000px) rotate(0deg);
            transform: perspective(2000px) rotate(0deg); } }

.docs-color-block {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center; }
  .docs-color-block > div:first-child {
    width: 100%;
    height: 50px;
    margin-bottom: 0.5rem; }
  .docs-color-block > p {
    margin: 0; }
  .docs-color-block-primary {
    background: #2199e8; }
  .docs-color-block-secondary {
    background: #777; }
  .docs-color-block-success {
    background: #3adb76; }
  .docs-color-block-warning {
    background: #ffae00; }
  .docs-color-block-alert {
    background: #ec5840; }
  .docs-color-block-white {
    background: #fefefe; }
  .docs-color-block-light-gray {
    background: #e6e6e6; }
  .docs-color-block-medium-gray {
    background: #cacaca; }
  .docs-color-block-dark-gray {
    background: #8a8a8a; }
  .docs-color-block-black {
    background: #0a0a0a; }

.docs-big-index .column a, .docs-big-index .columns a {
  color: #0a0a0a; }

.docs-big-index .column strong, .docs-big-index .columns strong {
  color: #2199e8;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.25rem; }

.docs-big-index .column a:hover, .docs-big-index .columns a:hover {
  color: #2199e8; }
  .docs-big-index .column a:hover strong, .docs-big-index .columns a:hover strong {
    color: #4faeed; }

.docs-small-index ul {
  list-style-type: none;
  margin-left: 0; }

.docs-small-index li {
  margin-bottom: 0.25rem; }

.docs-bb {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-bottom: 1rem; }
  .docs-bb::before, .docs-bb::after {
    content: ' ';
    display: table; }
  .docs-bb::after {
    clear: both; }

.docs-bb-thumb {
  width: 33.33333%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .docs-bb-thumb:last-child:not(:first-child) {
    float: right; }
  .docs-bb-thumb a {
    display: block; }
  .docs-bb-thumb img {
    border: 1px solid #cacaca; }
    .docs-bb-thumb img:hover {
      border-color: #2199e8; }

.docs-bb-main {
  width: 66.66667%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .docs-bb-main:last-child:not(:first-child) {
    float: right; }
  .docs-bb-main h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem; }

.twitter-typeahead {
  display: block !important;
  position: relative; }
  .twitter-typeahead::before {
    content: '\f16c';
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 0.9rem;
    z-index: 1;
    font-family: 'foundation-icons';
    font-size: 1.75rem;
    color: #2199e8; }

.tt-input,
.tt-hint {
  right: 0;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
  box-shadow: none;
  border-width: 1px 0;
  font-size: 1.3rem;
  height: 3.5rem;
  font-weight: 300; }
  .tt-input:hover,
  .tt-hint:hover {
    box-shadow: none; }
  .tt-input:focus,
  .tt-hint:focus {
    border-width: 1px 0; }

.tt-menu {
  background: white;
  width: 100%;
  border: 1px solid #ccc; }

.tt-suggestion {
  padding: 0.5rem; }
  .tt-suggestion::before, .tt-suggestion::after {
    content: ' ';
    display: table; }
  .tt-suggestion::after {
    clear: both; }
  .tt-suggestion:hover, .tt-suggestion.tt-cursor {
    background: #2199e8;
    color: #fff;
    cursor: pointer; }
    .tt-suggestion:hover .meta, .tt-suggestion.tt-cursor .meta {
      color: #fff; }
  .tt-suggestion .name {
    font-weight: bold; }
  .tt-suggestion .meta {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #8a8a8a;
    margin-left: 0.5rem; }
  .tt-suggestion .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  @media screen and (min-width: 40em) {
    .tt-suggestion {
      padding: 1rem; }
      .tt-suggestion .name {
        float: left;
        width: 40%; }
      .tt-suggestion .desc {
        float: left;
        width: 60%; } }

.tt-empty {
  padding: 1rem; }
  .tt-empty:before {
    content: ':(';
    font-weight: bold;
    font-size: 2rem;
    color: #999;
    margin-left: 1rem;
    margin-right: 2rem; }

.docs-compat-table {
  width: 100%;
  background: transparent;
  margin-bottom: 2rem; }
  .docs-compat-table tbody {
    border-color: #cacaca; }
  .docs-compat-table tr {
    border-bottom: 1px solid #cacaca; }
  .docs-compat-table tr,
  .docs-compat-table tr:nth-child(even) {
    background: transparent; }
  .docs-compat-table tr:nth-child(even) td:first-child {
    background: #e6e6e6; }
  .docs-compat-table td:first-child {
    border-right: 1px solid #cacaca; }
  .docs-compat-table .works {
    background: rgba(58, 219, 118, 0.15);
    color: #3adb76;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center; }
    .docs-compat-table .works::before {
      display: inline-block;
      content: '?';
      margin-right: 0.5rem; }

.docs-notice-added, .docs-notice-deprecated {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  color: #ffae00;
  font-size: 0.8rem;
  line-height: 2.8; }

.docs-notice-deprecated {
  color: #ec5840; }

.docs-deprecated {
  opacity: 0.25;
  transition: opacity 0.1s ease-out; }
  .docs-deprecated:hover {
    opacity: 1; }

.marketing-topbar {
  background: #121212;
  font-size: 0.8125rem;
  font-weight: bold;
  z-index: 2;
  position: relative; }
  .marketing-topbar::before, .marketing-topbar::after {
    content: ' ';
    display: table; }
  .marketing-topbar::after {
    clear: both; }
  .marketing-topbar ul:first-child {
    float: left; }
  .marketing-topbar ul:last-child {
    float: right; }
  .marketing-topbar .topbar-title > a {
    font-size: 1rem;
    opacity: 0.9; }
    .marketing-topbar .topbar-title > a > img {
      position: relative;
      top: -1px; }
  .marketing-topbar .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0; }
    .marketing-topbar .menu a:hover:not(.button), .marketing-topbar .menu a:focus {
      background: black; }
    .marketing-topbar .menu a.button {
      border-radius: 0;
      box-shadow: 0 0 0 transparent; }
  .marketing-topbar .title {
    color: #8a8a8a;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: #2c2c2c; }
  .marketing-topbar .is-active a {
    background: black; }
  .marketing-topbar .menu img {
    position: relative;
    top: -2px; }
  .marketing-topbar .menu:last-child {
    border-left: 1px solid #4e4e4e; }
  .marketing-topbar .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; }
  .marketing-topbar .dropdown.menu .submenu {
    border: 0; }
  .marketing-topbar .is-down-arrow a {
    padding-right: 1rem !important; }
  .marketing-topbar .is-down-arrow a::after {
    display: none !important; }

.mobile-ofc {
  background: #121212;
  font-size: 0.8125rem;
  font-weight: bold; }
  .mobile-ofc .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0; }
    .mobile-ofc .menu a:hover:not(.button), .mobile-ofc .menu a:focus {
      background: black; }
    .mobile-ofc .menu a.button {
      border-radius: 0;
      box-shadow: 0 0 0 transparent; }
  .mobile-ofc .title {
    color: #8a8a8a;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: #2c2c2c; }

/* Banner for announcements */
a#notice {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  width: 100%;
  color: white;
  background: #0f1c21;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0f1c21), color-stop(45%, #26363e), color-stop(76%, #4f5863), color-stop(100%, #c6867f));
  background: linear-gradient(to bottom, #0f1c21 0%, #26363e 45%, #4f5863 76%, #c6867f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1c21    ', endColorstr='#c6867f    ', GradientType=0 ); }
  a#notice .countdown {
    display: inline;
    color: #ffffff    ;
    font-size: 16px;
    font-weight: 700;
    margin-left: 3px; }
  a#notice .timer-colon {
    margin: 0px -2px 0px -4px;
    padding: 0; }
  a#notice .timer-hour, a#notice .timer-minute, a#notice .timer-second {
    letter-spacing: 2px; }
  a#notice .info {
    left: 0;
    right: 0;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    a#notice .info h5 {
      color: #ffffff    ; }
    @media only screen and (max-width: 675px) {
      a#notice .info {
        width: 100%;
        padding: 0 15px 0px 15px;
        position: relative; } }

.menu-group::before, .menu-group::after {
  content: ' ';
  display: table; }

.menu-group::after {
  clear: both; }

.menu-group ul:first-child {
  float: left; }

.menu-group ul:last-child {
  float: right; }

.sticky-mag {
  background-color: white; }
  .sticky-mag.stuck-mag {
    border-bottom: 2px solid #121212; }

/************************* FOOTER *************************/
	
.hero {
  background: url("http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1, .hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0; }

footer div.row {
  max-width: 1200px; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer .inline-list li {
      display: table-cell; }
  .footer .inline-list a{
      display:inline-block;
      width:2rem;
      height:2rem;
      background-color:#33383b;
      border-radius:2px;
      font-size:1.5rem;
      color:#fff;
      text-align:center;
      line-height:35px;
      margin:0 3px 0 0;}
  .footer .inline-list a:hover{color: #a6a6a6;}
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact p {
      margin-bottom: 2rem; }
      .footer .contact li p {
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .menu a {
    display: inline-block;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0.7rem 0 1rem 0.1rem;
    font-size: 0.875rem; }
  .footer .menus a::after {
      content: "\2022";
      padding: 0 0.2rem 0 0.4rem; }
  .footer .menu li span {
      padding: 0.7rem 0 1rem 0.1rem;
      font-size: 0.875rem;
      color: #fff; }
  .footer .menu a:hover {
    color: #a6a6a6; }
  .footer .menu a:hover a::after {
    text-decoration: none; }
    .footer .menu li:first-child a {
        padding-left: 0; }
    .footer .menu li:last-child a::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

.logo {
  color: #fff;
  font-size: 1.5rem; }
  .logo i {
    margin-right: 0.5rem; }
    
/************************* BODY *************************/
body {
    background-color: #292C2F; }
#wrap {
    background-color: white;}
#wrap .container-fluid .callout.primary {
    margin: -1rem 0 1rem 0;}
/************************* FORM *************************/
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="tel"], [type="time"], [type="url"], [type="color"], [type="number"], [type="search"], textarea {
    margin-bottom: 0;}

.form-group {
    margin-bottom: 1rem;}
/************************* UTIL *************************/
.radius {
    border-radius: 0.3rem;}
.round {
    border-radius: 10rem;}
/************************* PAGINATION *************************/
.pagination li{
  border: 1px solid #cacaca;
  border-radius: 50%;
  padding: 0; }
.pagination .current, .pagination .disabled  {
    padding: 0; }
.pagination span {
    padding: 0.3rem 0.75rem;
    border-radius: 50%;
    display: block;
    background-color: #e6e6e6; }
.pagination a {
    border-radius: 50%;
    padding: 0.3rem 0.75rem;
    background-color: #fff; }
.pagination .single-arrow a, .pagination .single-arrow span {
    padding: 0.3rem 0.84rem; }