.img-wrapper {
    position: relative; }
.img-wrapper a {
    position: relative;
    overflow: hidden; }
.thumbnail:hover .title {
    opacity: 1; }
.img-wrapper .title {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333;
    opacity: 0;
    padding: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4); }
.item-wrapper:hover .img-wrapper .title {
    bottom: 8px; }
.gallery {
    position: relative;
    width: 100%;
    overflow: hidden; }
.gallery_background {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 0; }
.gallery_background image{
    width: 150%; }
.pagination-wrapper {
    position: relative;
    z-index: 1; }
.footer {
    margin-top: -1rem;}